/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
:root {
  --primary-color: #432E30;
  --primary-color-light: #654f4f;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56; 
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;
}

/* -----------------------------------------------------------------------------
 * Misc
 * -------------------------------------------------------------------------- */
section {
	margin-bottom: 4.0rem;
}

/* -----------------------------------------------------------------------------
 * Input range styling
 * -------------------------------------------------------------------------- */

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #FE6A6B;
  background: var(--accent-color);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid #432E30;
  border: 2px solid var(--primary-color);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FE6A6B;
  background: var(--accent-color);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FE6A6B;
  background: var(--accent-color);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #FE6A6B;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #FE6A6B;
  background: var(--accent-color);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #FE6A6B;
  background: var(--accent-color);
}

input[type=range]:focus::-ms-fill-upper {
  background: #FE6A6B;
  background: var(--accent-color);
}

/* -----------------------------------------------------------------------------
 * Custom checkbox styles
 * -------------------------------------------------------------------------- */
[role=checkbox]::before {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-top;
	margin-top: -2px;
	text-align: center; 
	background: #ffffff;
  border: 2px solid #432E30;
	border: 2px solid var(--primary-color);
}

[aria-checked="true"]::before {
	color: #ffffff;
  background: #FE6A6B;
	background: var(--accent-color);
    content: "X";
}

[aria-checked="false"]::before {
    content: "";
}

.field {
	margin-bottom: 1.6rem;
}

/* -----------------------------------------------------------------------------
 * Offscreen header styles
 * -------------------------------------------------------------------------- */
.screenreader-only {
	clip-path: inset(100%);
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}

/* -----------------------------------------------------------------------------
 * aria-labelledby formatting styles
 * -------------------------------------------------------------------------- */
.code section {
  margin-bottom: 0;
}